<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<h1>404, opps!</h1>
<p>You've done something wrong!</p>

</body>
</html>