<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<style>
		h1{
			text-align: center;
		}
		p{
			text-align: center;
		}
		body{
			background: pink;
			padding: 30px;
			color: #000;
		}
	</style>
</head>
<body>
	<h1>Contact</h1>
	<p>Facebook : Montree</p>
	<% include nav.ejs %>
</body>
</html>