<!DOCTYPE html>
<html>
<head>
	<title>queryStrings-success</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
<h1>queryStrings-success</h1>
<p><%= data.who %></p>
<p><%= data.contact %></p>
</body>
</html>